[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

click = "*"
toml = "*"
python-slugify = "*"
pholcidae = {git = "https://github.com/bbrodriges/pholcidae"}


[dev-packages]
